.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 25px;
    transition: 0.2s ease-in-out;
    z-index: 4;
}

.header.active {
    background-color: #f9fafb;
    padding-block: 20px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.menu-open-btn {
    display: flex;
    font-size: 3.5rem;
    color: var(--orange);
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background: var(--green);
    padding: 80px 20px;
    z-index: 4;
    transition: 0.15s ease-in;
    user-select: none;
}

.navbar.active {
    left: 0;
    transition: 0.25s ease-out;
}

.menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 5px;
    display: flex;
    background: var(--black);
    color: var(--white);
    user-select: none;
    cursor: pointer;
}

.navbar .logo {
    width: 160px;
    margin-bottom: 30px;
    margin-inline: auto;
}

.navbar-list {
    margin-bottom: 15px;
}

.navbar-link {
    padding-block: 15px;
    color: var(--black);
    font-weight: 500;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-out;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* HERO */
.hero {
    background: linear-gradient(90deg, hsl(38, 100%, 98%) 21.32%, hsl(144, 45%, 98%) 130%);
    padding: 150px 0 80px;
}

.hero-banner {
    margin-bottom: 30px;
}

.hero-banner img {
    object-fit: cover;
}

.hero-content {
}

.hero-title {
    margin-bottom: 20px;
}

.hero .section-text {
    margin-bottom: 45px;
}

/* ABOUT */
.about {
    padding-block: 80px;
}

.about-banner {
    position: relative;
    margin-bottom: 40px;
}

.about-img {
    width: 100%;
}

.play-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 24%;
    right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.5rem;
    background-color: var(--white);
}

.play-btn::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 1px solid #000000;
    animation: pulseAnim 2s forwards infinite;
}

@keyframes pulseAnim {
    0% {
        transform: scale(1);
        border-color: #000000;
    }
    100% {
        transform: scale(1.5);
        border-color: transparent;
    }
}

.about-title {
    margin-bottom: 30px;
}

.about .section-text {
    margin-bottom: 50px;
}

/* DEPARTMENTS */
.departments {
    padding-block: 80px;
    background-color: #fffbf5;
}

.departments-title {
    text-align: center;
    margin-bottom: 80px;
}

.departments-list {
    display: grid;
    gap: 30px;
    margin-bottom: 50px;
}

.departments-card {
    background-color: var(--white);
    box-shadow: 5px 30px 50px hsl(0deg 1% 15% / 5%);
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.departments-card .card-banner {
    margin-bottom: 20px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.departments-card .card-title {
    margin-bottom: 15px;
}

.departments-card .card-text {
    line-height: 1.5;
    margin-bottom: 20px;
}

.departments-card .card-link {
    color: #ffa600;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease-in-out;
}

.departments-card .card-link:is(:hover, :focus) {
    gap: 15px;
}

.departments .btn-primary {
    margin: 0 auto;
}

/* INSTRUCTOR */
.instructor {
    padding-block: 80px;
}

.instructor .title-wrapper {
    margin-bottom: 80px;
}

.instructor-title {
    margin-bottom: 30px;
}

.instructor-list {
    display: grid;
    gap: 40px;
}

.instructor-card {
    text-align: center;
}

.instructor-card .card-banner {
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
}

.instructor-card img {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
}

.instructor-card .card-title {
    font-size: 2.8rem;
    color: #000000;
}

.instructor-card .card-subtitle {
    margin-bottom: 15px;
}

.card-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card-social-link {
    color: #000;
    font-size: 1.8rem;
}

/* CTA */
.cta {
    padding-block: 50px;
    background-color: #2a2a32;
}

.cta-title {
    color: var(--white);
    margin-bottom: 30px;
}

.cta-banner {
    display: none;
}

/* FOOTER */
.footer {
    background-color: #121217;
}

.footer-top {
    padding-block: 80px;
}

.footer-brand {
    margin-bottom: 50px;
}

.footer-brand .logo {
    width: 160px;
    margin-bottom: 20px;
}

.footer-text {
    color: #b3b3b3;
    line-break: 1.8;
    margin-bottom: 30px;
}

.footer .social-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.footer .social-link {
    background-color: #2a2a32;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #b3b3b3;
    border: 1px solid #2a2a32;
    transition: 0.2s ease-in-out;
}

.footer .social-link:is(:hover, :focus) {
    background-color: var(--black);
    color: #f9fafb;
}

.footer-link-box {
    display: grid;
    gap: 30px;
}

.footer-list {
    max-width: 230px;
}

.footer-list li:first-child {
    margin-bottom: 10px;
}

.footer-link-title {
    color: #f9fafb;
    font-size: 2rem;
}

.footer-link {
    color: #b3b3b3;
    padding-block: 10px;
    transition: 0.2s ease-in-out;
}

.footer-link:is(:hover, :focus) {
    color: #f9fafb;
    transform: translateX(3px);
}

.footer .contact-item {
    padding-block: 10px;
}

.footer .contact-item span {
    color: #f9fafb;
    font-weight: 500;
}

.footer .contact-item a {
    color: #b3b3b3;
    font-weight: 500;
}

.footer-bottom {
    padding-block: 20px;
    border-top: 1px solid #3b3b3b;
}

.copyright {
    color: #3b3b3b;
    line-height: 1.7;
    text-align: center;
}

.copyright a {
    display: inline-block;
    color: inherit;
    transition: 0.2s ease-in-out;
}

.copyright a:is(:focus, :hover) {
    color: #f9fafb;
}

/* GO TO TOP */
.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: var(--white);
    color: #3b3b3b;
    display: grid;
    place-items: center;
    font-size: 2rem;
    box-shadow: 0 1px 2px hsl(0deg 0% 0% / 30%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.go-top.active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 550px) {
    .container {
        max-width: 550px;
        margin: auto;
    }

    .header .logo {
        min-width: 160px;
    }

    .departments-card {
        padding: 30px;
    }

    .instructor-list,
    .footer-link-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .hero-banner,
    .about-banner {
        max-width: 600px;
        margin-inline: auto;
    }

    .about-content {
        max-width: 600px;
    }

    .departments-title {
        max-width: 600px;
        margin-inline: auto;
    }

    .instructor-title {
        max-width: 600px;
    }

    .departments-list {
        grid-template-columns: 1fr 1fr;
    }

    .cta {
        position: relative;
        z-index: 1;
    }

    .cta .title-wrapper {
        max-width: 60%;
    }

    .cta-banner {
        position: absolute;
        display: block;
        background: url('../assets/images/cta-banner.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: 350px;
        height: 300px;
        bottom: 0px;
        left: 51%;
    }

    .footer-text {
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 950px;
    }

    .vector-line {
        display: block;
        position: absolute;
    }

    .header .logo {
        margin-right: 25px;
    }

    .menu-open-btn,
    .menu-close-btn,
    .navbar .logo {
        display: none;
    }

    .navbar {
        position: static;
        max-width: unset;
        height: unset;
        background: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-list {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-link {
        position: relative;
        font-size: 1.8rem;
        padding: 20px 25px;
    }

    .navbar-link::after {
        --scale: 0;

        content: '';
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%) scale(var(--scale));
        background: var(--orange);
        width: 30px;
        height: 2px;
        border-radius: 2px;
        opacity: 0.5;
        transition: 0.25s ease-in-out;
    }

    .navbar-link:is(:hover, :focus)::after {
        --scale: 1;
    }

    .overlay {
        display: none;
    }

    .hero .container {
        display: grid;
        grid-template-columns: 4fr 6fr;
        align-items: center;
        gap: 50px;
    }

    .hero-banner {
        margin-bottom: 0;
        order: 1;
    }

    .about .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
    }

    .about-banner {
        position: relative;
        margin-bottom: 0;
    }

    .about-banner .vector-line {
        width: 400px;
        bottom: 50px;
        left: -50px;
    }

    .play-btn {
        width: 100px;
        height: 100px;
    }

    .about-content {
        max-width: unset;
    }

    .departments {
        position: relative;
        z-index: 1;
    }

    .departments .vector-line {
        top: 100px;
        right: 0;
        z-index: -1;
    }

    .departments-title {
        max-width: 500px;
    }

    .departments-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .departments-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .instructor {
        position: relative;
        z-index: 1;
    }

    .instructor .vector-line:first-child {
        top: 50px;
        left: 0;
        z-index: -1;
    }

    .instructor .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .instructor-title {
        max-width: 500px;
        margin-bottom: 0;
    }

    .instructor-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .instructor .vector-line:last-child {
        bottom: -100px;
        left: 0;
        z-index: -1;
    }

    .cta .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .cta-title {
        position: relative;
        margin-bottom: 0;
        width: calc(100% - 200px);
    }

    .cta-title .vector-line {
        right: -20px;
        bottom: 0;
    }

    .cta-banner {
        left: 60%;
        width: 320px;
        bottom: -15px;
    }

    .footer-link-box {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }

    .departments-title {
        max-width: 550px;
    }

    .instructor {
        padding-bottom: 150px;
    }

    .cta .title-wrapper {
        max-width: 64%;
    }

    .cta-banner {
        left: 68%;
    }
}
